# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# IDE
.vscode/
*.code-workspace
.idea/

# Project specific
results*/
facebook-*/
*.zip
old/
*.txt
*.bat

# Test artifacts
.pytest_cache/

